.header__wrap {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 420px) {
    .header__wrap {
        padding-bottom: 35px;
    }
}